<div class="sidebar-inner">
    <!-- <h2>{{ site.title }}</h2> -->

    <div id="portrait" class="d-block">
        <img src="{{ site.baseurl }}/assets/images/yl_liu.jpg" class="img-fluid mt-3" alt="Profile Image" style="max-width: 200px;">

        <h2 class="text-white my-3">刘亚林博士 (Alin)</h2>
        <h3 class="text-white my-3">香港都会大学</h3>
    </div>

    <ul>
        <li><a href="{{ site.baseurl }}/zh-CN/">简介</a></li>
        <li><a href="{{ site.baseurl }}/zh-CN/resume">履历</a></li>
        <li><a href="{{ site.baseurl }}/zh-CN/research">研究</a></li>
        <li><a href="{{ site.baseurl }}/zh-CN/teams">团队</a></li>
        <li><a href="{{ site.baseurl }}/zh-CN/teaching">教学</a></li>
        <li><a href="{{ site.baseurl }}/zh-CN/contact">联络方式</a></li>
    </ul>

    <!-- <nav class="language-switcher">
        {% if page.name contains "index" %}
            <a href="{{ site.baseurl }}/">EN</a>
            <a href="{{ site.baseurl | append: '/zh-TW' }}">繁</a>
            <a href="{{ site.baseurl | append: '/zh-CN' }}">简</a>
        {% else %}
            <a href="{{ site.baseurl | append: page.handle }}">EN</a>
            <a href="{{ site.baseurl | append: '/zh-TW' | append: page.handle }}">繁</a>
            <a href="{{ site.baseurl | append: '/zh-CN' | append: page.handle }}">简</a>
        {% endif %}
    </nav> -->

    <div class="social-icons">
        <a href="https://github.com/yalin-liu" target="_blank" title="GitHub"><i class="fab fa-github"></i></a>
        <!-- <a href="https://scholars.hkmu.edu.hk/en/persons/yalin-liu/publications/" target="_blank"><i class="fa fa-university"></i></a> -->
        <a href="https://scholar.google.com/citations?user=boJGB9cAAAAJ&hl=zh-CN" target="_blank"><i class="fa fa-graduation-cap"></i></a>
        <a href="https://www.researchgate.net/profile/Yalin-Liu/research?ev=prf_act" target="_blank"><i class="fab fa-researchgate"></i></a>
        <a href="https://www.linkedin.com/in/alin-yalin-liu" target="_blank"><i class="fab fa-linkedin"></i></a>
        <!-- <a href="https://orcid.org/0000-0003-2870-4598" target="_blank"><i class="fab fa-orcid"></i></a> -->
    </div>
</div>