<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
<body>
    {% include sidebar-container.html %}
    {% include language-switcher.html %}
    
    <div class="container-fluid">
        <div class="wrapper">
            <div class="content">
                {{ content }}
            </div>
            {% include copyright.html %}
        </div>
    </div>
    <script>
        $(function() {
          const currentLang = "{{ page.language }}" || "en"; 
          const contactData = {{ site.data.contact | jsonify }};
          const $container = $('#contact-container');
          $container.empty();
        
          const CONTACT_EMAIL = "{{ site.email }}";
          contactData.forEach(item => {
            const localizedLabel = item.label[currentLang] || item.label['en'];
        
            let localizedValue = "";
            if (typeof item.value === 'object') {
              localizedValue = item.value[currentLang] || item.value['en'];
            } else {
              localizedValue = item.value.replace(/%EMAIL%/g, CONTACT_EMAIL);
            }
            
            let contentHtml = '';
            if (item.link) {
              rsEmail = item.link.replace(/%EMAIL%/g, CONTACT_EMAIL);
              contentHtml = `<a href="${rsEmail}" title="${item.title}" target="_blank">${localizedValue}</a>`;
            } else {
              contentHtml = localizedValue;
            }
        
            const $p = $('<p></p>').append(
              `<i class="fa ${item.icon} mr-2"></i>\n`,
              `${localizedLabel}：`,
              contentHtml
            );
        
            $container.append($p);
          });
        });
    </script>
</body>
</html>
